@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

/* 
 hsl(233, 47%, 7%)

 hsl(244, 38%, 16%)

 hsl(277, 64%, 61%)

 hsl(0, 0%, 100%)

 hsla(0, 0%, 100%, 0.75)

 hsla(0, 0%, 100%, 0.6)

 Lexend Deca

 Inter 
*/

body {
    background-color: hsl(233, 47%, 7%);
}

picture > img {
    width: 40vw;
    height: 60vh;
    position: absolute;
    left: 50%;
    top: 20%;
    border-radius: 0px 15px 15px 0px;
}

main {
    margin: auto;
    width: 40vw;
    height: 60vh;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(244, 38%, 16%);
    border-radius: 15px 0px 0px 15px;
}

main section#principal {
    padding: 50px;
}

main h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-size: 30px;
 }

main h1 id {
    color: hsl(277, 64%, 61%);
}

main p {
    font-weight: 300;
}

main p, article{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    padding-top: 30px;
    }

    main article {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
      }

    .dados h2 {
        font-family: 'Inter', sans-serif;
        color: hsl(0, 0%, 100%);
        margin-bottom: -25px;
    }

    .dados p {
        font-weight: 700;
    }